@charset "utf-8";
/* CSS Document */
body,div,span,a,ul,li,h3,h4,p,dl,dt,dd,p,div{padding:0;margin:0; font-family:"微软雅黑"; font-size:12px;}
.wrap{width:980px;margin:0 auto;}
a{ text-decoration:none; color:#000;}
li{list-style:none;}
img{ border:none;}

.clear_left_float{ clear:left;}
.wf{ min-width:980px;}